@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: lightgrey;
}

.titulo{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    background-color: lightgray;
}

.logo img{
    float: left;
    width: 190px;
    height: 190px;

}

#imgbanner{
    width: 30%;
    height: 450px;
}

nav{
    text-align: center;
    font-size: 40px;
    font-weight: 150;
    background-color: gray;
    color: white
}

#texto{
    font-family: "Signika", sans-serif;
    font-size: 40px;

}

#usuario{
    font-family: "Signika", sans-serif;
    font-size: 40px;

}

#senha{
    font-family: "Signika", sans-serif;
    font-size: 40px;

}


.login{
    font-family: "Signika", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;

}

#login{
    font-family: "Signika", sans-serif;
    font-size: 40px;

}

#voltar{
    position: absolute;
    padding-left: 87.5%;

}

#enviar{
    font-family: "Signika", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

a{
    background-color: gray;
    color: white;
}

.quiz{
    padding: 35px;
    margin: 10px;
    line-height: 65px;
}

.cor{
width: 50px;
height: 50px;
background-color: grey;
}

